@{
    ViewData["Title"] = "Home Page";
}
<nav id="indexNav" class="indexNav">
    <p class="logoHolder">Mjues</p>
    <a class="signIn center" href="/">SIGN IN</a>
</nav>
<div class="indexContainer">
    <div class="indexHero">
        <div class="heroHolder">
            <p class="center heroHeader">Your Cities Stories</p>
            <p class="center heroSecondary">Written by you</p>
            <form asp-controller="Home" asp-action="RequestAccess" method="Get" class="center">
                <input type="submit" value="REQUEST ACCESS" class="indexFormButton">
            </form>
        </div>
        <div class="cityAnimation">
            <div class="building bOne">
                <div class="window bOneWindow"></div>
                <div class="window bOneWindow"></div>
                <div class="window bOneWindow"></div>
                <div class="window bOneWindow"></div>
                <div class="window bOneWindow"></div>
                <div class="window bOneWindow"></div>
                <div class="window bOneWindow"></div>
                <div class="window bOneWindow"></div>
                <div class="window bOneWindow"></div>
                <div class="window bOneWindow"></div>
                <div class="window bOneWindow"></div>
                <div class="window bOneWindow"></div>
                <div class="window bOneWindow"></div>
                <div class="window bOneWindow"></div>
                <div class="window bOneWindow"></div>
                <div class="window bOneWindow"></div>
                <div class="window bOneWindow"></div>
                <div class="window bOneWindow"></div>
            </div>
            <div class="bTwo">
                <div class="chimneyDiagnolOne"></div>
                <div class="chimneyOne"></div>
                <div class="chimneyDiagnolTwo"></div>
                <div class="chimneyTwo"></div>
                <div class="chimneyDiagnolThree"></div>
                <div class="chimneyThree"></div>
                <div class="window bTwoWindow"></div>
                <div class="window bTwoWindow"></div>
                <div class="window bTwoWindow"></div>
                <div class="window bTwoWindow"></div>
                <div class="window bTwoWindow"></div>
                <div class="window bTwoWindow"></div>
            </div>
            <div class="building bThree">
                <div class="window bThreeWindow"></div>
                <div class="window bThreeWindow"></div>
                <div class="window bThreeWindow"></div>
                <div class="window bThreeWindow"></div>
                <div class="window bThreeWindow"></div>
                <div class="window bThreeWindow"></div>
                <div class="window bThreeWindow"></div>
                <div class="window bThreeWindow"></div>
                <div class="window bThreeWindow"></div>
                <div class="window bThreeWindow"></div>
                <div class="window bThreeWindow"></div>
                <div class="window bThreeWindow"></div>
                <div class="window bThreeWindow"></div>
                <div class="window bThreeWindow"></div>
                <div class="window bThreeWindow"></div>
                <div class="window bThreeWindow"></div>
                <div class="window bThreeWindow"></div>
                <div class="window bThreeWindow"></div>
                <div class="window bThreeWindow"></div>
                <div class="window bThreeWindow"></div>
                <div class="window bThreeWindow"></div>
                <div class="window bThreeWindow"></div>
                <div class="window bThreeWindow"></div>
                <div class="window bThreeWindow"></div>
            </div>
            <div class="building bFour">
                <div class="window bFourWindow"></div>
                <div class="window bFourWindow"></div>
                <div class="window bFourWindow"></div>
                <div class="window bFourWindow"></div>
                <div class="window bFourWindow"></div>
                <div class="window bFourWindow"></div>
            </div>
            <div class="building bFive">
                <div class="window bFiveWindow"></div>
                <div class="window bFiveWindow"></div>
                <div class="window bFiveWindow"></div>
                <div class="window bFiveWindow"></div>
                <div class="window bFiveWindow"></div>
                <div class="window bFiveWindow"></div>
                <div class="window bFiveWindow"></div>
            </div>
            <div class="building bSix">
                <div class="window bSixWindow"></div>
                <div class="window bSixWindowLong"></div>
                <div class="window bSixWindow"></div>
                <div class="window bSixWindow"></div>
                <div class="window bSixWindowLong"></div>
                <div class="window bSixWindow"></div>
                <div class="window bSixWindow"></div>
                <div class="window bSixWindowLong"></div>
                <div class="window bSixWindow"></div>                
                <div class="window bSixWindow"></div>
                <div class="window bSixWindowLong"></div>
                <div class="window bSixWindow"></div>
                <div class="window bSixWindow"></div>
                <div class="window bSixWindowLong"></div>
                <div class="window bSixWindow"></div>
                <div class="window bSixWindow"></div>
                <div class="window bSixWindowLong"></div>
                <div class="window bSixWindow"></div>
                <div class="window bSixWindow"></div>
                <div class="window bSixWindowLong"></div>
                <div class="window bSixWindow"></div>
            </div>
        </div>
    </div>
</div>