.controlGrid {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    grid-gap: 10px;
    grid-template-areas:
    "locationBlock"
    "practiceBlock";
}
.controlGrid h1 {
    margin-bottom: 5px;
}
.locationBlock {
    grid-area: locationBlock;
    margin: 30px 0 20px 0;
    z-index: 1;
}
.practiceBlock {
    grid-area: practiceBlock;
    z-index: 1;
}
.footer {
    margin-top: 20px;
    z-index: 1;
}